/* Homepage */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 1280px;
height: 677px;

background: #FFFFFF;


/* Hero Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 160px 24px;
gap: 32px;
isolation: isolate;

width: 1280px;
height: 677px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(WhatsApp Image 2026-09-28 at 21.29.03.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Button Group

Keywords: actions
*/

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 75px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 99px;
height: 40px;

background: #E3E3E3;
border: 1px solid #767676;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 75px;
height: 40px;

background: #2C2C2C;
border: 1px solid #2C2C2C;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text Content Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 500px;
height: 85px;
left: calc(50% - 500px/2);
top: calc(50% - 85px/2 - 23px);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Title */

width: 500px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
text-align: center;
letter-spacing: -0.03em;

color: #0C0C0D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtitle */

width: 500px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
text-align: center;

color: #0C0C0D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 32px;
gap: 0px 24px;

position: absolute;
width: 1140px;
height: 56px;
left: calc(50% - 1140px/2);
top: 20px;

background: #CDCDCD;
border: 1px solid #1E1E1E;
border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 40px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Button

Keywords: action
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 44px;
height: 44px;

background: #F5F5F5;
border: 1px solid #D9D9D9;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Button

Keywords: action
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

display: none;
width: 44px;
height: 44px;

background: #F5F5F5;
border: 1px solid #D9D9D9;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Figma */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 23.33px;
height: 35px;

border: 3.5px solid #1E1E1E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill List */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-end;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 8px;

width: 1012px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Slot */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 536px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 99px;
height: 32px;

background: #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 83px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 65px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 49px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 98px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Title */

width: 82px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 96px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Title */

width: 80px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 122px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Title */

width: 106px;
height: 16px;

/* Single Line/Body Base

Used for any text element where you need 100% line height. For example, an input field, a label.
*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #1E1E1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 16px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Title */

width: 0px;
height: 16px;



/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Pill */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

display: none;
width: 47px;
height: 32px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Header Auth */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

display: none;
width: 178px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
