/* Navbar styling start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  opacity: 65%;
  padding: 5px 1vw;
  margin: 5vh 0;
  border-style: solid;
  border-radius: 20px;
  border-color: #1e1e1e;
  border-width: 1px;
  width: 90%;
  height: 65px;
  position: absolute;
  left: 5%;
  box-sizing: border-box;
  z-index: 100000;
}

.header a {
  font-size: x-large;
  color: black;
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* Navbar styling end */
